<div class="page-header">
    <h2>All music</h2>
    <div class="search">
        <input id="search" type="text" placeholder="Search" />
        <a href="#" class="clear">clear</a>
    </div>
</div>

<div class="grid-container">
    <div id="slickgrid"></div>
    <div class="overlay">
        <div class="content">
            <h3>Generating the MP3 catalog...</h3>
        </div>
    </div>
</div>
