<div class="page-header">
	<h2>All music</h2>
	<div class="search">
		<input id="search" type="text" placeholder="Search" />
	</div>
</div>

<div class="grid-container">
	<div id="slickgrid"></div>
	<div class="none">
		<h3>Waiting to refresh...</h3>
	</div>
</div>
