{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "importOrder": [
    "^(api|components|hooks|utils)/(.*)$",
    "^assets/(.*)$",
    "^store$",
    "^styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
