@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin animation-fill-mode($value) {
  -webkit-animation-fill-mode: $value;
  -moz-animation-fill-mode: $value;
  -o-animation-fill-mode: $value;
  animation-fill-mode: $value;
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin image-replacement {
    text-indent:100%;
    overflow:hidden;
    white-space:nowrap;
}

@mixin linear-gradient($gradient) {
  // scss-lint:disable NameFormat
  background-image: -webkit-linear-gradient($gradient);
  background-image: -moz-linear-gradient($gradient);
  background-image: -ms-linear-gradient($gradient);
  background-image: -o-linear-gradient($gradient);
  background-image: linear-gradient($gradient);
}

@mixin overflow-ellipsis {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  transition: $value;
}
