// Colors
$color-black: #222;
$color-gray: #595959;
$color-gray-light: #a0a0a0;
$color-blue: #4c96e5;
$color-orange: #f18c06;
$color-red: #e90d1d;

// Header
$header-gradient: top, #424242, #242424;

// Player
$player-gradient: top, #383838, #383838 15%, #1f1f1f 90%, #1f1f1f;
