html,body {
  height: 100%;
}

body {
  color: #333;
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 32px;
  line-height: 1.4em;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4em;
}

h5 {
  font-weight: 700;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

input[type="submit"] {
  cursor: pointer;
}
