#app, #wrap, #main {
    height:100%;
    overflow:hidden;
    position: relative;
    width:100%;
}
        #sidebar {
            float:left;
            overflow:hidden;
        }
        #content {
            float:left;
            height:100%;
            overflow: hidden;
        }
            #content-wrap {
                height:100%;
                overflow-y:hidden;
                position: absolute;
                top:0;
                bottom:0;
            }
