#app, #wrap, #main {
    height:100%;
    overflow:hidden;
    position: relative;
    width:100%;
}
        #sidebar {
            float:left;
            overflow:hidden;
        }
        #content {
            height:100%;
            overflow: hidden;
        }
