<div class="container">
	<h2>All songs</h2>

	<div id="slickgrid"></div>

	<ol id="songlist">
		<% @songs.each do |song| %>
		<li>
			<%= link_to song.to_s, :action => "play", :file => song.path %>
		</li>
		<% end %>
	</ol>

</div>