.slider {
  height: 10px;
  position: relative;
  user-select: none;
  touch-action: none;
}

.slider-track {
  background: #131313;
  border-radius: 99px;
  border-top-color: #000;
  border: 1px solid #2f2f2f;
  display: block;
  height: 100%;
  pointer-events: none;
  position: relative;
  text-align: left;
}

.slider-fill {
  background-color: #f6a828;
  background-image: linear-gradient(
    to bottom,
    #f6a828,
    #f6a828 30%,
    #d06010 85%,
    #aa3311
  );
  border-radius: 99px 0 0 99px;
  display: block;
  height: 100%;
  left: 0;
  min-width: 8px;
  position: absolute;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.slider-thumb {
  aspect-ratio: 1 / 1;
  background-color: #eee;
  background-image: radial-gradient(#faf9f8 40%, #c3c2c1);
  border-radius: 999px;
  border-top: 1px solid #fafafa;
  border: 1px solid #bbb;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  display: block;
  height: calc(100% + 2px);
  position: absolute;
  left: 0;
  top: -1px;
  transform: translateX(-50%);
  z-index: 2;
}

.slider-thumb:focus {
  outline: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
}

.slider-thumb:focus-visible {
  outline: #555 auto 1px;
}

.slider-thumb:hover {
  background: #ccc;
}

.slider-thumb.active,
.slider-thumb:active {
  background: #ddd;
}
