.btn {
    background:#595959;
    background: -webkit-linear-gradient(top, #707070, #424242);
    background: -moz-linear-gradient(top, #707070, #424242);
    background: -o-linear-gradient(top, #707070, #424242);
    background: -ms-linear-gradient(top, #707070, #424242);
    background: linear-gradient(top, #707070, #424242);
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-weight:700;
    height:28px;
    line-height:28px;
    padding:0 8px;
    text-align:center;
    text-shadow:0 1px 0 #000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
