.btn {
    background: #fff;
    border: 1px solid;
    border-color: lighten($color-gray-light, 20%);
    color: $color-gray-light;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    padding: 8px 16px 6px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    transition-duration: 180ms;
    transition-property: background, border-color, color;

    & + & {
        margin-left: 10px;
    }

    &:hover {
        background: #f1f1f1;
        cursor: pointer;
    }
}

.btn--big {
    letter-spacing: 0.05em;
    padding: 12px 28px;
    text-transform: uppercase;
}

.btn--primary {
    background: $color-orange;
    border-color: darken($color-orange, 5%);
    color: #fff;

    &:hover {
        background: darken($color-orange, 5%);
    }
}

.btn--inline {
    * + & {
        margin-left: 10px;
    }
}

.plain-btn {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    -webkit-appearance: none;
}
