#header {
    background:#333;
    background: -webkit-linear-gradient(top, #424242, #242424);
    background: -moz-linear-gradient(top, #424242, #242424);
    background: -o-linear-gradient(top, #424242, #242424);
    background: -ms-linear-gradient(top, #424242, #242424);
    background: linear-gradient(top, #424242, #242424);
    border-top:1px solid #000;
    color:#fff;
    height:55px;
    overflow: hidden;
    padding:0 20px 0 15px;
    -webkit-box-shadow: inset 0 1px 0 #505050;
    -moz-box-shadow: inset 0 1px 0 #505050;
    box-shadow: inset 0 1px 0 #505050;
}

#logo {
    font:700 30px/55px 'PT Sans', sans-serif;
    float:left;
    position: relative;
    text-shadow:0 1px 3px #000;

    small {
        font-size: 0.615em;
        margin-left: 0.25em;
    }
}

#user-panel {
    float:right;
    font-size:12px;
    font-weight:700;

    a {
        color:#bbb;
        display:block;

        &:hover *, &.act * {
            color:#fff;
            border-top-color:#fff;
        }
    }
    img {
        background:#444;
        border:0;
        float:left;
        height:24px;
        margin:12px 10px 0 0;
        width:24px;
    }
    .name {
        line-height:50px;
        margin-right:2px;
    }
    .dropdown {
        border-left:4px solid transparent;
        border-right:4px solid transparent;
        border-top:4px solid #bbb;
        display:inline-block;
        position:relative;
        top:-1px;
    }
}

#user-menu {
    background:#fff;
    border:1px solid #ccc;
    display:none;
    list-style:none;
    padding:.4em 0;
    position:absolute;
    margin-top:-5px;
    right:1em;
    width:140px;
    z-index:2000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);

    .head {
        overflow: hidden;
        position:absolute;
        height:8px;
        top:-6px;
        right:25px;
        width:16px;
        z-index:2001;
    }
        span {
            border-left:8px solid transparent;
            border-right:8px solid transparent;
            border-bottom:8px solid #fff;
            display:inline-block;
            position: absolute;
            z-index:2002;
        }

    a {
        color:#222;
        display:block;
        font-weight:400;
        padding:.4em 2em;

        &:hover {
            background:#888;
            color:#fff;
        }
    }

    &.open {
        display: block;
    }
}
