#sm2-container {
    height:0;
    position: absolute;
    visibility:hidden;
    width:0;
}

#sm2movie {
    height: 0;
    width: 0;
}

#sm2-container.swf_timedout {
    background:#222;
    background:rgba(0,0,0, 0.8);
    height:300px;
    padding:3em;
    position:absolute;
    left:40%;
    top:40%;
    text-align:center;
    visibility:visible;
    width:400px;
    z-index:999;
}
