/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym{border:0;}

html,body {
    height:100%;
}

body {
    color:#333;
    font-family:sans-serif;
    margin:0 auto;
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-size:32px;
    line-height:1.4em;
}
h2 {
    font-size:24px;
    font-weight:700;
    line-height:1.4em;
}
h5 {
    font-weight:700;
}
a {
    color:inherit;
    cursor: pointer;
    text-decoration:none;
}

.btn {
    background:#595959;
    background: -webkit-linear-gradient(top, #707070, #424242);
    background: -moz-linear-gradient(top, #707070, #424242);
    background: -o-linear-gradient(top, #707070, #424242);
    background: -ms-linear-gradient(top, #707070, #424242);
    background: linear-gradient(top, #707070, #424242);
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-weight:700;
    height:28px;
    line-height:28px;
    padding:0 8px;
    text-align:center;
    text-shadow:0 1px 0 #000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    
    &:hover {
        background:#707070;
        background: -webkit-linear-gradient(top, #888, #424242);
        background: -moz-linear-gradient(top, #888, #424242);
        background: -o-linear-gradient(top, #888, #424242);
        background: -ms-linear-gradient(top, #888, #424242);
        background: linear-gradient(top, #888, #424242);
        color:#fff;
    }
}
    
.under-construction {
    border:2px dashed #bbb;
    color:#666;
    margin:15px 0;
    padding:10px 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.none {
    color:#666;
    margin:15px 0;
    padding:10px 12px;
    text-align:center
}


input[type="submit"] {
    cursor:pointer;
}

