/*!
 * BeatSream stylesheet
 */

/*

1.BASE
2.LAYOUT
3.HEADER
4.SONGLIST
5.PLAYER
6.SIDEBAR
7.MODAL

99.MISC

*/


/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}


/* 1.BASE
----------------------------------------------------------------------------- */
body {
    font-family:sans-serif;
    margin:0 auto;
    overflow:hidden;
}
h1 {
    font-size:30px;
}
h2 {
    font-size:24px;
}
h5 {
    font-weight:700;
}
a {
    color:inherit;
    text-decoration:none;
}


/* 2.LAYOUT
----------------------------------------------------------------------------- */
#wrap {
    float:left;
    height:100%;
    overflow:hidden;
    position: relative;
    width:100%;
}
    #main {
        height:100%;
        height:530px;
        overflow:hidden;
        position:relative;
        width:100%;
    }
        #sidebar {
            float:left;
            overflow:hidden;
        }
        #content {
            float:left;
            height:100%;
            overflow: hidden;
        }
            #content-wrap {
                height:100%;
                overflow-y:hidden;
                position: absolute;
                top:0;
                bottom:0;
            }


/* 3.HEADER
----------------------------------------------------------------------------- */
header {
    background:#222;
    background: linear-gradient(top, #282828, #0B0B0B);
    background: -o-linear-gradient(top, #101010, #444);
    background: -moz-linear-gradient(top, #101010, #444);
    background: -webkit-linear-gradient(top, #444, #0B0B0B);
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    color:#fff;
    height:50px;
    overflow: hidden;
    padding:0 1em 0 .6em;

    box-shadow:inset 0 -1px 0 #3a3a3a, inset 0 1px 0 #5a5a5a;
}
    header #logo {
        font-family: 'Lobster', sans-serif;
        font-size:30px;
        float:left;
        line-height:46px;
    }
    #user-panel {
        float:right;
        font-size:12px;
        font-weight:700;
    }
        #user-panel a {
            color:#bbb;
            display:block;
        }
            #user-panel img {
                background:#444;
                border:0;
                float:left;
                height:24px;
                margin:12px 10px 0 0;
                width:24px;
            }
            #user-panel .name {
                line-height:50px;
                margin-right:2px;
            }
            #user-panel .dropdown {
                border-left:4px solid transparent;
                border-right:4px solid transparent;
                border-top:4px solid #bbb;
                display:inline-block;
                position:relative;
                top:-1px;
            }
            #user-panel a:hover *, #user-panel a.act * {
                color:#fff;
                border-top-color:#fff;
            }
        #user-menu {
            background:#fff;
            border:1px solid #ccc;
            display:none;
            list-style:none;
            padding:.4em 0;
            position:absolute;
            margin-top:3px;
            right:1em;
            width:140px;
            z-index:2000;

            border-radius:4px;
            box-shadow:0 5px 10px rgba(0,0,0, 0.2);
        }
            #user-menu .head {
                overflow: hidden;
                position:absolute;
                height:8px;
                top:-6px;
                right:25px;
                width:16px;
                z-index:2001;
            }
                #user-menu span {
                    border-left:8px solid transparent;
                    border-right:8px solid transparent;
                    border-bottom:8px solid #fff;
                    display:inline-block;
                    position: absolute;
                    z-index:2002;
                }
            #user-menu a {
                color:#222;
                display:block;
                font-weight:400;
                padding:.4em 2em;
            }
            #user-menu a:hover {
                background:#888;
                color:#fff;
            }


/* 4.SONGLIST
----------------------------------------------------------------------------- */
.page-header {
    border-bottom:1px solid #e5e5e5;
    overflow: hidden;
    padding:20px;
    position:relative;
}
    .page-header .info {
        float:left;    
    }
        .page-header h2 {
        }
        .page-header .count {
            font-size:12px;
        }
    .search {
        float:right;
        margin-top:4px;
    }
        #search {
            border:1px solid #999;
            height:16px;
            border-radius:12px;
            outline:0;
            padding:1px 10px 3px;

            -webkit-transition: all 100ms ease-in;
        }
        #search:focus {
            -webkit-box-shadow:0 0 5px #6092e5; /*rgba(0,0,0, 0.6);*/
        }
        .search .clear {
            background:url('/assets/close.png') no-repeat 0 -14px;
            display:inline-block;
            height:14px;
            position:relative;
            top:3px;
            text-indent:-9999em;
            width:14px;
        }
        .search .clear:hover {
            background-position:0 0;
        }

.grid-container {
    background:#f1f1f1;
    position:relative;
    width:100%;
}

/* slickgrid */
#slickgrid {
    background:#fff;
    color:#222;
    font-size:12px;
    height:auto;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:2px;
    width:100%;
}
    #slickgrid .slick-header-columns {
        background:#f1f1f1;
        border-bottom:1px solid #e5e5e5;
        font-weight:700;
    }
        #slickgrid .slick-header-column {
            border-right:1px dotted #ccc;
        }
    #slickgrid .slick-row {
        line-height:22px;
    }
        #slickgrid .slick-cell {
            border:0;
        }
        #slickgrid .slick-cell.l0 {
            padding-left:5px;
        }
        #slickgrid .selected {
            background:#e5e5e5;
            background:#6092e5;
            color:#fff;
        }
        #slickgrid .playing {
            background-image:url('/assets/icons.png');
            background-position:4px -194px;
        }
        #slickgrid .playing.selected {
            background-position:4px -151px;
        }
        .slick-cell.tracknum {
            text-align:right;
            padding-right:10px;
        }
        .slick-cell.duration {
        }
    #slickgrid .even {
        background:#fffaf0;
        background:#f7f7f7;
    }

/* overlay */
.overlay {
    background:rgba(0,0,0, 0.5);
    height:100%;
    width:100%;
    overflow-x:hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:9000;
}
    .overlay .content {
        background:#fff;
        position:absolute;
        top:50%;
        left:50%;
        padding:30px 40px;
        margin:-30px 0 0 -200px;
        overflow:hidden;
        text-align:center;
        width:400px;
        z-index:9001;

        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
    .overlay h3 {
        font-size:24px;
        font-weight:700;
    }


/* 5.PLAYER
----------------------------------------------------------------------------- */
#player {
    background:#222;
    background: linear-gradient(top, #282828, #0B0B0B);
    background: -o-linear-gradient(top, #282828, #0B0B0B);
    background: -moz-linear-gradient(top, #282828, #0B0B0B);
    background: -webkit-linear-gradient(top, #282828, #0B0B0B);
    border-top:1px solid #505050;
    bottom:0;
    color:#fff;
    cursor:default;
    font-size:11px;
    font-weight:700;
    padding:0 0 10px;
    position:relative;
    z-index:1000;

    box-shadow:0 -1px 0 #000;
    -moz-box-shadow:0 -1px 0 #000;
    -webkit-box-shadow:0 -1px 0 #000;
}
    #player-song {
        border-bottom:1px solid #000;
        margin-bottom:8px;
        padding:5px 0 5px;

        box-shadow:0 1px 0 #333;
        -moz-box-shadow:0 1px 0 #333;
        -webkit-box-shadow:0 1px 0 #333;
    }
        #player-song .label {
            color:#888;
        }
    #player-song, #player-controls {
        padding-left:10px;
        padding-right:10px;
    }
    #player-controls {
        height:40px;
        line-height:40px;
        vertical-align: middle;
    }
        #player-buttons, #player-volume, #player-time {
            float:left;
        }
        #player button {
            background:transparent url('/assets/icons.png') no-repeat;
            border:0;
            height:40px;
            width:40px;
            text-indent:-9999em;
        }
        #player button[disabled="disabled"] {
            /*opacity:0.2;*/
        }
        #player #play-pause {
            background-position:-72px -5px;
        }
        #player #play-pause:active {
            background-position:-72px -92px;
        }
        #player #play-pause.playing {
            background-position:-286px -5px;
        }
        #player #play-pause.playing:active {
            background-position:-286px -92px;
        }
        #player #prev {
            background-position:0 -5px;
        }
        #player #prev:active {
            background-position:0 -92px;
        }
        #player #next {
            background-position:-148px -5px;
        }
        #player #next:active {
            background-position:-148px -92px;
        }
        #player-volume {
            height:40px;
            margin:0 15px;
            text-align:center;
            width:100px;
        }
            #player-volume-slider {
                margin-top:13px;
            }
        #player-time {
            text-align:center;
            width:80px;
        }
        #seekbar {
            height:40px;
            margin:0 40px 0 336px;
            padding:0 15px;
            text-align:center;
        }
            #seekbar-slider {
                top:13px;
            }
        #player-buttons-2 {
            float:right;
            height:40px;
        }
            #player #shuffle {
                background:transparent url('/assets/icons.png') no-repeat;
                background-position: -218px -94px;
            }
            #player #shuffle.enabled {
                background-position:-218px -7px
            }


/* 6.SIDEBAR
----------------------------------------------------------------------------- */
#sidebar {
    background:#f1f1f1;
    border-right:1px solid #e5e5e5;
    font-size:12px;
    height:100%;
}
    #sidebar-wrap {
        padding:10px;
        min-width:100px;
    }
        #sidebar h5 {
            font-size:11px;
            text-transform:uppercase;
            margin:0 0 1em;
        }
        #sidebar ul {
            list-style:none;
            margin:0 0 1em;
        }
            #sidebar li {
                display:block;
                margin:0 -10px;
                z-index:0;
            }
                #sidebar li a {
                    color:inherit;
                    display:block;
                    padding:3px 15px;
                    text-decoration:none;
                }
                #sidebar li.hover a {
                    background:#c0d2ff;
                    border:2px solid #2050ff;
                    padding:1px 13px;
                    border-radius:8px;
                }
                .playlists input {
                    margin:0 15px;
                }
            #sidebar li.act {
                background:#6092e5;
                color:#fff;
            }
            #sidebar a.new-list {
                background:#e5e5e5;
                color:inherit;
                display:inline-block;
                padding:4px 8px;
                text-decoration:none;

                border-radius:4px;

                transition:all 100ms ease-in-out;
                -o-transition:all 100ms ease-in-out;
                -moz-transition:all 100ms ease-in-out;
                -webkit-transition:all 100ms ease-in-out;
            }
            #sidebar a.new-list:hover {
                background:#ddd;
            }

/* draginfo */
#draginfo {
    background:#fff;
    background:rgba(255,255,255, 0.8);
    border:1px solid #e5e5e5;
    font-size:11px;
    padding:.5em .8em;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


/* 7.MODAL
----------------------------------------------------------------------------- */
.modal {
    font-size:13px;
    padding:20px 30px;
    width:340px;
}
    .modal h2 {
        margin:0 0 2px;
    }
    .modal .subheader {
        color:#888;
        font-size:14px;
        margin:0 0 15px;
    }
    .modal fieldset {
        border-top:1px solid #ddd;
        margin:0 -30px;
        padding:15px 30px;
    }
        .modal label {
            clear:both;
            display:inline-block;
            float:left;
            font-size:14px;
            font-weight:700;
            line-height:34px;
            width:100px;
        }
        .modal .field {
            display:inline-block;
            float:left;
            margin:0 0 15px;
        }
            .modal input[type="text"] {
                border:1px solid #ccc;
                font-size:13px;
                line-height:20px;
                padding:4px;
                border-radius:3px;
            }
            .modal .actions {
                margin-left:100px;
            }
                .modal .actions a {
                    margin-left:15px;
                }
            .modal .button {
                background: #f5f5f5;
                border: 1px solid #aaa;
                color:#000;
                font-size:11px;
                padding:3px 6px 3px;

                border-radius:4px;
            }
            .modal .button:hover {
                background:#eee;
            }
            .modal .button:active {
                background:#abe;
            }

input[type="submit"] {
    cursor:pointer;
}


/* 99.MISC
----------------------------------------------------------------------------- */
