/* mixins */
@mixin clear_float {
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}

/* modals */
.modal {
    font-size:13px;
    padding:20px 30px;
    width:340px;

    h2 {
        margin:0 0 2px;
    }
     .subheader {
        color:#888;
        font-size:14px;
        margin:0 0 15px;
    }
    fieldset {
        border-top:1px solid #ddd;
        margin:0 -30px;
        padding:15px 30px;
    }
        label {
            clear:both;
            display:inline-block;
            float:left;
            font-size:14px;
            font-weight:700;
            line-height:34px;
            width:100px;
        }
        .field {
            display:inline-block;
            float:left;
            margin:0 0 15px;
        }
            input[type="text"] {
                border:1px solid #ccc;
                font-size:13px;
                line-height:20px;
                padding:4px;
                border-radius:3px;
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
            }
            .actions {
                margin-left:100px;

                a {
                    margin-left:15px;
                }
            }
            .button {
                background: #f5f5f5;
                border: 1px solid #aaa;
                color:#000;
                font-size:11px;
                padding:3px 6px 3px;

                border-radius:4px;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;

                &:hover {
                    background:#eee;
                }

                &:active {
                    background:#abe;
                }
            }
}

/* preloader */
.preloader {
    background:rgba(0,0,0, 0.75);
    height:100%;
    position:fixed;
    text-align:center;
    width:100%;
    z-index:998;

    * {
        color:#fff;
        top:50%;
        left:50%;
        position:absolute;
        z-index:99999;
    }
    .loading {
        margin:-8px 0 0 -8px;
    }
}

.loading {
    background:url('/assets/preloader.gif') no-repeat;
    height:16px;
    width:16px;
    @include clear_float;
}

/* soundmanager 2 */
.swf_timedout {
    background:#222;
    background:rgba(0,0,0, 0.8);
    position:absolute;
    left:40%;
    top:40%;
    padding:3em;
    text-align:center;
    z-index:999;
}
