<% if @playlists.empty? %>
    <p class="none">No playlists yet</p>
<% end %>
<ul class="playlists">
    <% @playlists.each do |playlist| %>
        <li><a data-id="" class="name"><%= playlist %></a></li>
    <% end %>
    <li class="playlist-input" style="display:none;">
        <input type="text" class="new-list" name="list-name" />
    </li>
</ul>
