<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Beatstream - alpha</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/icon_32x32.png" sizes="32x32" />
    <link rel="icon" href="/icon_48x48.png" sizes="48x48" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="app"></div>

<div class="preloader">
    <div class="loading">Loading</div>
</div>

<div id="modal" class="modal-overlay"></div>

<script type="text/javascript">
    window.App = window.App || {};
    window.App.user = <%= raw @user.to_json %>;
</script>
<%= javascript_include_tag "application" %>

</body>
</html>
