<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Beatstream / Login</title>
    <%= stylesheet_link_tag "login" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
    <header>
        <h1>Beatstream</h1>
    </header>
    <div>
        <%= yield %>
    </div>
</div>

</body>
</html>
